.intro-2{
    background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
    background-size: cover;
}
.view {
    height: 100%;
}
.viewfooter {
     position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:cyan;
  color: white;
  text-align: center;
}